.ui.placeholder.segment.pot-segment {
    background: #2E2C2C !important;
    min-height: 18rem;
}

h1.title {
    color: #8AAA2D;
    font-size: 42px;
    margin-left: 200px;
    font-family: 'Finger paint', sans-serif;
}

small.secondary-title {
    color: #FFF;
    font-family: Muli, sans-serif;
    margin-left: 200px;
    font-size: 13px;
}

.ui.pointing.secondary.menu-container.menu.menu-container {
    margin-top: 10px;
    position: fixed;
}

.ui.secondary.pointing.menu .active.item.header-item {
    color: #FFFFFF;
    font-family: Muli, sans-serif;
    border-color: #8aa92d;
}

h2.bio-title {
    color: #FFF;
    font-family: Muli, sans-serif;
    margin-top: 100px;
}

p.bio-body {
    color: #F2F2F2 !important;
    font-weight: 100;
    font-family: Muli, sans-serif;
    line-height: 30px;
    max-width: 500px;
    font-size: 15px;
}

.links-container {
    margin-top: 30px;
}

img.ui.medium.circular.image.pro-link {
    width: 20px;
    display: inline-block;
    margin-top: 40px;
    margin-right: 10px;
}

img.ui.medium.circular.image.pro-link.github {
    width: 20px;
    margin-left: 260px;
}

img.ui.medium.circular.image.pro-link.gitlab {
    width: 36px;
}

img.image.profile-image.ui {
    margin-left: 120px;
}

.ui.menu .item {
    color: #FFFFFF !important;
    cursor: pointer;
}